@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

/* For FUOC Reasons */
.event {
    display: none;
}

#event-when, #event-place {
    text-align: center;
}

.sponsor {
    text-align: center;
}
.sponsor img, ul.tiled img {
    box-shadow: none;
    border: none;
}

ul.tiled {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.tiled > li {
    display: inline-block;
    background: none;
    padding: none;
    flex-grow: 1;
    text-align: center;
}